# for WebStorm
.idea/

# for npm
node_modules/

# for grunt
bower_components/
bower-task/
d.ts/
src/main/typescript/libs/
src/test/typescript/libs/
src/test/typescript/*.js
src/test/typescript/*.js.map
src/test/typescript/*.d.ts
src/main/peg/*.js
test-results.xml

bin/
