# for WebStorm
.idea/

# for npm
node_modules/
reviewjs-*.tgz

# for grunt
bower_components/
bower-task/
.tscache/
typings/
lib/*.js
lib/*.js.map
lib/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
test/suite/libs/
testEspowered/
src/main/peg/*.js
test-results.xml

bin/out/
tscommand.tmp.txt
.baseDir.ts
