.idea/

node_modules/

bower_components/**/*.ts
bower_components/**/*.d.ts
bower_components/**/*.txt
bower_components/**/*.sh
bower_components/**/*.md
bower_components/**/*.map
bower_components/**/*.pegjs
bower_components/**/*.json
bower_components/**/Gruntfile.js
bower_components/**/karma.conf.js
bower_components/**/*.xhtml
bower_components/**/license
bower_components/**/test/

bower_components/jquery/src/
bower_components/js-yaml/bin/
bower_components/js-yaml/lib/
bower_components/js-yaml/demo/
bower_components/js-yaml/examples/
bower_components/review.js/index.js
bower_components/review.js/lib/
bower_components/review.js/resources/
