.git/
.DS_Store

# for vscode
.vscode/

# for npm
node_modules/
reviewjs-*.tgz
review.js-vscode-*.tgz

# for https://github.com/Microsoft/TypeScript/issues/4667
lib/**/*.ts
!lib/**/*.d.ts

# codes
resources/grammar-improve.pegjs
util/
test/
example/
benchmark/

# bower
dest/

# misc
.github/
.gitattributes
.gitignore
.editorconfig
.travis.yml
setup.cmd
setup.sh
bower.json
tsd.json
Gruntfile.js
karma.conf.js
Gemfile*
npm-shrinkwrap.json
tsconfig.json
tslint.json
ReVIEWSyntax.xhtml

test-results.xml
npm-debug.log
