.git/
.DS_Store

# for vscode
.vscode/

# for npm
node_modules/
reviewjs-*.tgz

# for grunt
bower_components/
bower-task/
.tscache/

# for https://github.com/Microsoft/TypeScript/issues/4667
lib/**/*.ts
!lib/**/*.d.ts

# codes
resources/grammar-improve.pegjs
util/
test/
example/
benchmark/

# bower
dest/

# misc
.gitignore
.editorconfig
.travis.yml
setup.sh
bower.json
tsd.json
Gruntfile.js
karma.conf.js
Gemfile*
npm-shrinkwrap.json

test-results.xml
npm-debug.log
